<%- include('header', {class_name1: '', class_name2: 'active-link', class_name3:
''}); -%>

<main>
  <div class="hero">
    <div class="heading">Thank You! User Has Been Registered.</div>
    <div class="subheading">
      We'll Get In Touch With You Shortly.
    </div>
    <!-- <div class="explore">Explore</div> -->
  </div>
</main>
<script src="js/index.js"></script>
</body>
</html>
