<%- include('header', {class_name1: 'active-link', class_name2: '', class_name3:
''}); -%>

<main>
  <div class="hero">
    <div class="heading">The Most Awaited Fest Of 2019 Is Here!</div>
    <div class="subheading">
      The Following Events Are Going To Be Conducted. Stay Tuned.
    </div>
    <!-- <div class="explore">Explore</div> -->
  </div>
  <div class="head-event">
    <div class="event-heading">
      EVENTS
    </div>
  </div>
  <div class="card-wrapper">
    <div class="card-index">
      <img src="img/1.jpg" alt="card-bg" class="card-img" />

      <h1>Programming</h1>
    </div>

    <div class="card-index">
      <img src="img/2.jpg" alt="card-bg" class="card-img" />
      <h1>Photography</h1>
    </div>
  </div>
  <div class="card-wrapper">
    <div class="card-index">
      <img src="img/3.jpg" alt="card-bg" class="card-img" />

      <h1>Content Writing</h1>
    </div>

    <div class="card-index">
      <img src="img/4.jpg" alt="card-bg" class="card-img" />
      <h1>Story Writing</h1>
    </div>
  </div>
  <div class="card-wrapper">
    <div class="card-index">
      <img src="img/5.jpg" alt="card-bg" class="card-img" />

      <h1>Idea Pitching</h1>
    </div>

    <div class="card-index">
      <img src="img/6.jpg" alt="card-bg" class="card-img" />
      <h1>Chess</h1>
    </div>
  </div>
  <br />
  <!-- <div class="register-btn-container">
    <div class="explore">Register</div>
  </div> -->
</main>

<%- include('footer'); -%>
