<%- include('header', {class_name1: '', class_name2: 'active-link', class_name3:
''}); -%>

<main>
  <div class="hero">
    <div class="heading">Whoops! User Already Exists.</div>
    <div class="subheading">
      Try Using A Different Username!
    </div>
    <!-- <div class="explore">Explore</div> -->
  </div>
</main>
<script src="js/index.js"></script>
</body>
</html>
